html {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: grid;
  display: grid;
  grid-template-areas:
    "logo nav";
}

.logo {
  grid-area: logo;

  /* background-color: red; */
  display: inline-block;
  font-size: 27px;
  padding: 16px 12px;
}

.nav {
  grid-area: nav;

  /* background-color: blue; */
  display: inline-block;
  text-align: right;
  padding-top: 35px;
}

.btn_link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid blue;

  padding: 8px 10px;
  margin: 0 10px 0 24px;

}

.nav_link {

  font-weight: 500;
  font-size: 21px;
  text-decoration: none;
  color: black;
  margin-left: 24px;
}

.container {
  width: 1200px;
  /* background-color: blue;
  height: 10px; */
  margin: 0 auto;
}

.phone_block {
  margin-top: 150px;

  display: grid;
  grid-template-areas:
    "d ph";
}

.description {

  margin-top: 120px;
  grid-area: d;

}

.phone_image {
  grid-area: ph;
}

.description_header {
  font-size: 47px;
  font-weight: 700;
}

.description_paragrph {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
}

.description_btns {
  margin-top: 24px;
}

.description_btn_left {
  border: 1px solid blue;
  padding: 10px 16px;
  background-color: blue;
  color: white;
  text-decoration: none;
  margin-right: 25px;
}

.description_btn_right {
  border: 1px solid #575757;
  padding: 10px 16px;
  background-color: white;
  color: #575757;
  text-decoration: none;
}

.authors {
  margin: 100px auto;
}

.authors_top_header {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.authors_top_paragraph {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.authors_inner {
  margin-top: 36px;

  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-template-areas:
    "left right";
}

.authors_inner_left {
  grid-area: left;
}

.authors_inner_right {
  grid-area: right;
  display: grid;
  grid-template-areas:
    "g"
    "p"
    "m"
    "gr"
    "h"
    "a";
}

.gregory {
  grid-area: g;

  font-size: 21px;
  font-weight: 500;
  color: #DEA405;
}

.programmer {
  grid-area: p;

  font-size: 16px;
  font-weight: 400;
  color: #FFBE0B;
}

.mark {
  grid-area: m;

  font-size: 27px;
  font-weight: 600;
  margin-top: 8px;
}

.graphic {
  grid-area: gr;

  font-size: 21px;
  font-weight: 500;
  color: #575757;
}

.henry {
  grid-area: h;

  font-size: 21px;
  font-weight: 500;
  color: #DEA405;
  margin-top: 8px;
}


.analyst {
  grid-area: a;
  font-size: 16px;
  font-weight: 400;
  color: #FFBE0B;
}

.add_more_sign::before {
  content: '<';
  font-size: 27px;
  font-weight: 600;
  position: absolute;
  left: 980px;
  top: 970px;
}

.authors_inner_left {
  display: grid;
  grid-template-areas:
    "img info";
}

.authors_inner_left_img {
  grid-area: img;


}

.authors_inner_left_info {
  grid-area: info;
  width: 640px;
  margin-left: 46px;
}

.authors_inner_left_info_header {
  font-size: 27px;
  font-weight: 600;
}

.authors_inner_left_info_subheader {
  font-size: 21px;
  font-weight: 500;
  color: #575757;
}

.authors_inner_left_info_paragraph {
  margin-top: 12px;
}

.authors_inner_left_info_logos {
  margin-top: 25px;

}

.authors_inner_left_info_logos_in {
  display: inline;
}

.authors_inner_left_info_logos_insta {
  display: inline;
  margin-left: 19px;
}

.authors_inner_left_info_logos_facebook {
  display: inline;
  margin-left: 19px;
}

/* blue_block ---------------------------------------------------------------------------------------------------------------------------*/

.blue_block {
  margin-top: 150px;
  background-color: #0062FF;
  color: white;
}

.blue_block_description {
  margin: 0 auto;
  text-align: center;
}

.blue_block_description_header {
  font-size: 27px;
  font-weight: 600;
  padding-top: 100px;
}

.blue_block_description_paragraph {
  margin-top: 20px;
}

.block-holder-part-img {
  grid-area: img;
}

.block-holder-part-description {
  grid-area: desc;

  margin-left: 30px;
  margin-top: 20px;
}

.block-holder {
  margin-top: 50px;

  display: grid;
  grid-template-areas:
    "first second"
    "third forth";
}

.block_first {
  grid-area: first;
}

.block_second {
  grid-area: second;
}

.block_third {
  grid-area: third;
}

.block_forth {
  grid-area: forth;
}

.block-holder-part {
  margin: 15px 15px 15px 0;

  display: grid;
  grid-template-areas:
    "img desc";
}

.block-holder-part-header {
  font-size: 27px;
  font-weight: 600;
}

.block-holder-part-paragraph {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.blue_block_btn {
  display: inline-block;
  color: #0062FF;
  margin: 50px 700px;
  text-align: center;
  border: 1px solid #0062FF;
  padding: 10px;
  background-color: #fff;

}


/* check-demo ------------------------------------------------------------------------------------------------------------------------------------------------------*/

.check-demo-description {
  text-align: center;
  margin: 63px auto;
}

.check-demo-description-header {
  font-size: 36px;
  font-weight: 600;
}

.check-demo-description-paragraph {
  margin-top: 12px;
}


.check-demo-holder {
  display: grid;
  grid-template-areas:
    "left right";
  grid-template-columns: 7fr 5fr;
}

.check-demo-holder-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.check-demo-holder-right {
  grid-area: right;
  margin-left: 40px;
}

.check-demo-holder-topic-header {
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}

.check-demo-holder-topic-paragraph {
  margin-top: 12px;
  text-align: center;
}

/* yellow-block =======================================================================================================================================================================*/

.yellow-block {
  background-color: #FFBE0B;
  margin-top: 130px;
  padding: 67px 0;
}

.yellow-block-description {
  text-align: center;
  /* padding: 70px 0 42px 0; */
  margin-bottom: 42px;
}

.yellow-block-description-header {
  font-size: 36px;
  font-weight: 600;
}

.yellow-block-description-paragraph {
  margin-top: 12px;
}

.whie-block {
  background-color: white;
  max-width: 700px;
  margin: 0 auto;
  padding: 60px 16px;
  border-radius: 10px;
  display: flex;
}

.white-block-header-and-img {
  display: flex;
}

.white-block-header {
  font-size: 27px;
  font-weight: 600;
  margin-right: 15px;
}

.white-block-subheader {
  font-size: 21px;
  font-weight: 500;
}

.white-block-paragraph {
  margin-top: 12px;
}

.white-block-blue-cloud {
  position: relative;
  top: 25px;
  margin-right: 20px;
}


/* last_block===================================================================================================================================================================================== */
.start-withUs {
  padding: 90px 0;
}


.start-withUs-description {
  text-align: center;
}

.start-withUs-description-header {
  font-size: 36px;
  font-weight: 600;
}

.start-withUs-description-paragraph {
  margin-top: 12px;
}

.product-title {
  display: flex;
  margin: 80px 0;
}

.product-title-description-header {
  color: #0062FF;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
}

.product-title-description-paragraph {
  margin-top: 16px;
}

.product-title-description-btn {
  background-color: #0062FF;
  padding: 10px;
  margin-top: 16px;
  max-width: 90px;
  color: #fff;
}

.form-block-header {
  font-size: 27px;
  font-weight: 600;
}

.form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-block-imput {
  padding: 25px;
  border-color: #3A86FF;
  width: 510px;
  color: #0062FF;
  margin-top: 25px;
}

.form-btn {
  display: block;
  margin-top: 14px;
  background-color: #0062FF;
  border: none;
  color: #fff;
  padding: 10px;
  width: 565px;
}